<div class="p-6">
    <div class="border-t border-dashed border-t-zinc-500 pt-2">
        <ul class="space-y-0"> 
            <li>
                <a
                    [routerLink]="['/home']"
                    routerLinkActive="text-cyan-600 hover:!text-cyan-600"
                    class="flex items-center px-2 py-1.5 group text-zinc-500 hover:text-zinc-200">
                    <i class="ri-home-3-line"></i>
                    <span class="ms-3">Home</span>
                </a>
            </li>

            <li>
                <a
                    [routerLink]="['/settings']"
                    routerLinkActive="text-cyan-600 hover:text-cyan-600"
                    class="flex items-center px-2 py-1.5 group text-zinc-500 hover:text-zinc-200">
                    <i class="ri-tools-line"></i>
                    <span class="ms-3">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</div>