<div class="p-6">
    <div class="text-ellipsis overflow-hidden whitespace-nowrap">
        <div class="mb-3 flex justify-center">
             <app-user-avatar
                 [username]="username">
             </app-user-avatar>
        </div>

         <p class="text-center font-semibold text-xl mb-3">
             {{ username }}
         </p>
    </div>

    <sk-button
        class="sk-btn-default"
        [buttonTpl]="buttonTpl"
        [isFull]="true"
        size="sm"
        (click)="logout()">
        <ng-template #buttonTpl>
            <i class="ri-logout-circle-line"></i> Logout
        </ng-template>
    </sk-button>
</div>
