<div>
    <table class="w-full text-sm table-fixed text-zinc-400">
        <thead class="text-xs text-left border-b border-dashed border-zinc-400/10">
            <tr>
                <th scope="col" class="ps-7 py-2 font-normal w-[75%]">
                    Item
                </th>
                <th scope="col" class="px-1 py-2 font-normal w-[16.67%]">
                    Amount
                </th>
                <th scope="col" class="px-6 py-2 font-normal w-[8.33%]"></th>
            </tr>
        </thead>

        <tbody [formGroup]="form">
            <ng-container formArrayName="items">
                <ng-container *ngFor="let itemForm of $items.controls; let formIndex=index">
                    <tr [formGroupName]="formIndex">
                        <th
                            scope="row"
                            class="text-left py-2 flex font-normal">
                            <input
                                type="checkbox"
                                formControlName="is_checked"
                                class="sk-form-checkbox my-auto">
                            <input
                                type="text"
                                formControlName="item"
                                placeholder="Enter item"
                                class="ms-2 focus:outline-none border-none focus:ring-0
                                focus:outline-offset-0 p-0 bg-transparent caret-cyan-400
                                placeholder-zinc-500/50 w-full text-sm" />
                        </th>
                        <td class="ps-1">
                            <input
                                type="number"
                                formControlName="amount"
                                placeholder="Enter amount"
                                class="focus:outline-none border-none focus:ring-0
                                focus:outline-offset-0 p-0 bg-transparent caret-cyan-400
                                placeholder-zinc-500/50 w-full text-sm" />
                        </td>
                        <td class="text-end">
                            <button
                                class="p-0 text-zinc-400 enabled:hover:text-cyan-400
                                disabled:text-zinc-400/50 disabled:cursor-not-allowed"
                                [disabled]="disabled"
                                (click)="deleteItem(formIndex)">
                                <i class="ri-delete-row text-lg"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>

            <tr>
                <td></td>
                <td
                    class="ps-1 text-end"
                    colspan="2">
                    <button
                        class="p-0 text-zinc-400 enabled:hover:text-cyan-400
                        disabled:text-zinc-400/50 disabled:cursor-not-allowed"
                        [disabled]="disabled"
                        (click)="addItem()">
                        <i class="ri-add-circle-fill text-lg"></i>
                    </button>
                </td>
            </tr>

            <ng-container *ngIf="totalValue >= 0">
                <tr class="border-t border-dashed border-zinc-400/10">
                    <td></td>
                    <td
                        class="ps-1 py-2 text-start"
                        colspan="2">
                        <p class="mb-0">
                            RM {{ totalValue | number: '0.2-2' }}
                            <span class="text-xs">
                                total
                            </span>
                        </p>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>