<div class="text-sm">
    <div
        class="grid grid-cols-12 gap-2 text-zinc-400 text-xs
        border-b border-dashed border-zinc-400/10 pb-2">
        <div class="col-span-9">
            <p class="text-start ms-7">
                Item
            </p>
        </div>

        <div class="col-span-2">
            <p class="text-start">
                Amount
            </p>
        </div>

        <div class="col-span-1">
        </div>
    </div>

    <form [formGroup]="form">
        <ng-container formArrayName="items">
            <ng-container *ngFor="let itemForm of $items.controls; let formIndex=index">
                <form
                    class="grid grid-cols-12 gap-2 pt-2"
                    [formGroupName]="formIndex">
                    <div class="col-span-9">
                        <div class="flex">
                            <input
                                type="checkbox"
                                formControlName="is_checked"
                                class="sk-form-checkbox my-auto">
                            <input
                                type="text"
                                formControlName="item"
                                placeholder="Enter item"
                                class="ms-2 focus:outline-none border-none focus:ring-0
                                focus:outline-offset-0 p-0 bg-transparent caret-cyan-400
                                placeholder-zinc-500/50 w-full text-sm" />
                        </div>
                    </div>
        
                    <div class="col-span-2 text-zinc-400">
                        <input
                            type="number"
                            formControlName="amount"
                            placeholder="Enter amount"
                            class="focus:outline-none border-none focus:ring-0
                            focus:outline-offset-0 p-0 bg-transparent caret-cyan-400
                            placeholder-zinc-500/50 w-full text-sm" />
                    </div>
        
                    <div class="col-span-1 text-end text-zinc-400">
                        <button
                            class="p-0 text-zinc-400 hover:text-cyan-400"
                            (click)="deleteItem(formIndex)">
                            <i class="ri-delete-row"></i>
                        </button>
                    </div>
                </form>
            </ng-container>
        </ng-container>
    </form>

    <ng-container *ngIf="totalValue > 0">
        <div
            class="grid grid-cols-12 gap-2 text-zinc-400 text-sm
            border-t border-dashed border-zinc-400/10 pt-2 mt-2">
            <div class="col-span-9">
                <p class="text-end ms-7">
                    Total
                </p>
            </div>

            <div class="col-span-3">
                <p class="text-start">
                    RM {{ totalValue }}
                </p>
            </div>
        </div>
    </ng-container>

    <div
        class="grid grid-cols-12 gap-2 text-zinc-400 text-xs pt-2 mt-2">
        <div class="col-span-11"></div>

        <div class="col-span-1 text-end text-zinc-400">
            <button
                class="p-0 text-zinc-400 hover:text-cyan-400"
                (click)="addItem()">
                <i class="ri-add-circle-fill"></i>
            </button>
        </div>
    </div>
</div>