<div class="grid grid-cols-4 gap-4 mb-4">
    <div class="border border-zinc-700 border-dashed rounded-lg h-56"></div>
    <div class="border border-zinc-700 border-dashed rounded-lg h-56"></div>
    <div class="border border-zinc-700 border-dashed rounded-lg h-56"></div>
    <div class="border border-zinc-700 border-dashed rounded-lg h-56"></div>
</div>

<div class="grid grid-cols-3 gap-4 mb-4">
    <div class="border border-zinc-700 border-dashed rounded-lg h-56"></div>
    <div class="border border-zinc-700 border-dashed rounded-lg h-56"></div>
    <div class="border border-zinc-700 border-dashed rounded-lg h-56"></div>
</div>

<div class="grid grid-cols-1">
    <div class="border border-zinc-700 border-dashed rounded-lg h-80"></div>
</div>