[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.14.0"
markdown = "==3.4.4"
django-filter = "==23.2"
python-decouple = "==3.8"
djangorestframework-simplejwt = "==5.2.2"
django-cors-headers = "==4.2.0"
drf-extensions = "==0.7.1"
pillow = "==10.0.0"
mkdocs-material = "==9.*"
dj-rest-auth = {version = "==5.0.2", extras = ["with_social"]}

[dev-packages]

[requires]
python_version = "3.11"
